.mainCointainer{
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(34, 90, 173) 3%, rgb(46, 122, 172) 38%, rgb(63, 128, 180) 68%, rgb(102, 167, 221) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    
}
.itemListContainer{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns:  1fr;
    gap: 0.5em;
}
.seachContainer{  
    width: 800px;  
    background-color: whitesmoke;
    display: flex;   
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
}
.inputContainer{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.ventaContainer{
   
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    margin-top: 1em;
  
   .itemCard{
    background-color: rgb(209, 220, 255);
    padding: 1em;
    border: 2px solid black;   
    display: flex;   
    gap: 1em;
    justify-content: space-around;
    align-items: center;
   
    font-size: 1.5em;
    font-weight: 150;
    .nameContainer{
        text-align: center;
        width: 50%;
        padding: 0.2em;       
        text-decoration: underline;
    }    
    .priceContainer{
        padding: 0.5em;       
        width: 30%;
    }
    .dataContainer{
        width: 20%;
        padding: 0.5em; 
        
    }
    .descContainer{
        width: 20%;
        padding: 0.5em;
        color: red;
        
    }
    .btnContainer{
        padding-top: 0.5em;
        display: flex;
        justify-content: space-around;
        gap: 0.5em;
        width: 15%;
        
    }
   }
   
   
}
.totalContainer{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
    background-color: rgb(209, 220, 255);
    font-size: 2em;
    padding: 1em;
    gap: 1em;
    border: 2px solid black; 
    
}
.btnTicket{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
}  

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}